.searchbar-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchbar{
    width: 20rem;
    height: 3rem;
    border: none;
    border-radius: 0.5rem;
    padding: 0.8rem;
    box-sizing: border-box;
    font-size: 1rem;
}

.searchbar:focus {
    outline: none;
}

.search-logo{
    position: relative;
    left: -2rem;
    cursor: pointer;
}

